html,
body {
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: #00c9ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #92fe9d,
    #00c9ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #92fe9d,
    #00c9ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.card {
  max-width: 450px;
  overflow: hidden;
  border: solid black 2px;
  border-radius: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px;
}
img {
  max-width: 300px;
  width: 20vw;
  height: 20vh;
  border-radius: 12px;
}
.card:hover {
  opacity: 0.95;
}
header {
  margin: 2%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  justify-content: center;
  gap: 4px;
}
.intimate-card-container {
  margin: 0 auto;
  max-width: 90%;
}
button {
  background: none;
  border: none;
}
p {
  border-radius: 12px;
  color: white;
  font-size: 1.2rem;
}
